@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F0F0F0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animated-gradient-text {
  animation: gradient 3s linear infinite;
  opacity: 0;
  transform:  translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-gradient-text.visible {
  opacity: 1;
  transform:  translateY(0);
}

@keyframes gradient {
  to {
    background-position:  200% center;
  }
}

@layer components {
  .list-with-circles {
    @apply list-disc pl-5;
  }

  .list-with-circles li::marker {
    @apply text-black;
  }
}